$theme-color: #377d41;
$theme-warn: #ffae00ce;
$theme-info: #4169e1;
$theme-error: #f15d5d;

$main-background: #fcfcfc;
$aside-background: #f0f0f0;
$border-color: #e0e0e0;

$main-text-color: #505050;
$logo-text-color: #373737;
$placeholders-text-color: #acacac;
$button-text-color: #fff;
