.App {
  display: grid;
  grid-template-columns: 280px 1fr;
  grid-template-rows: 70px 1fr;
  grid-template-areas:
    "header header"
    "aside main";
  height: 100vh;
  width: 100%;
  header {
    grid-area: header;
  }
  aside {
    grid-area: aside;
  }
  main {
    grid-area: main;
  }
}
