.header {
  @include font-logo;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid $border-color;
  &__text {
    margin-left: 10px;
  }
  &__icon {
    margin-left: 10px;
    color: $theme-color;
  }
  .button {
    margin: 0 20px 0 auto;
    @include theme-button;
  }
}
