.section {
  padding: 40px;
  animation: fade-in 0.5s;
  overflow: scroll;
  height: calc(100vh - 70px);
  padding-bottom: 150px;

  &__input {
    &--search {
      @include section-text;
      border: 1px solid $border-color;
      padding: 10px;
      border-radius: 10px;
      width: 30%;
      min-width: 325px;
      margin: 10px;
    }
  }

  &__headline {
    @include section-headline;
    margin-bottom: 20px;
  }

  &__list {
    @include section-text;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    &__item {
      display: block;
      width: 300px;
    }
  }
}
