.task {
  margin: 15px;
  border: 1px solid $border-color;
  border-radius: 10px;
  overflow: hidden;
  width: calc(33% - 30px);
  font-size: 12px;
  transform: translateY(200%);
  opacity: 0;
  transition: 1s ease-out;

  &.show {
    opacity: 1;
    transform: translateY(0);
  }

  &__title {
    display: flex;
    align-items: center;
    background: $aside-background;
    padding: 10px;

    &__icon {
      margin-right: 10px;
      margin-bottom: 4px;
      color: $theme-color;
    }
  }

  &__description {
    margin: 20px;
    font-weight: 300;
  }

  &__delete-button {
    margin-left: auto;
    color: $logo-text-color;
  }
}
