.task {
  margin: 10px;
  border: 1px solid $border-color;
  border-radius: 10px;
  overflow: hidden;

  &__title {
    display: flex;
    align-items: center;
    background: $aside-background;
    padding: 10px 20px;

    &__icon {
      margin-right: 10px;
    }
  }

  &__description {
    margin: 20px;
  }

  &__delete-button {
    margin: 10px 10px 10px auto;
    color: $logo-text-color;
  }
}
